@model CategoryMovieApp.Models.Year
@{
    ViewData["Title"] = "YearAdd";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Kategori Ekleme Paneli</h2>
    @using (Html.BeginForm("YearAdd", "Year", FormMethod.Post))
    {
        <input required type="text" class="inputName" name="YearName" placeholder="Yılı Giriniz.">
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

