@model CategoryMovieApp.Models.Category
@{
    ViewData["Title"] = "GetCategory";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Kategori Ekleme Paneli</h2>
    @using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.CategoryId,new {@style="display:none;",@class="inputName"})
        @Html.TextBoxFor(x=>x.CategoryNameTR,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.CategoryNameEN,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.CategoryStatu,new {@class="inputName"})
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

