.Categories, .Years, .Country {
    border: 1px solid black;
    font-size: 16px;
}
.Categories a, .Years a  , .Country a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width:950px) {
    .Categories, .Years, .Country {
        font-size: 12px;
    }
}
