.Movies img {
    padding: 10px 10px;
    width: 100%;
}

.MovieCard {
    position: relative;
}

.MovieArea a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.MovieName {
    width: 100%;
    left: 0;
    top: 85%;
    position: absolute;
    font-size: 18px;
}

.MovieArea {
    margin-top: -15px;
}
