.Movies img {
    padding: 10px 1px;
    width: 100%;
    height: 400px;
    opacity: 0.9;
}

.MovieArea a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.MovieArea {
    margin-top: -10px;
}


