@using CategoryMovieApp.Models
@model IEnumerable<Category>

<div class="row" style="max-height: 395px; overflow-y: scroll;">
    @foreach (var item in Model)
    {
        <div class="col-6 pt-2 pb-2"><a href="/Movie/GetCategoryMovie/@item.CategoryId">@item.CategoryNameTR</a></div>
    }
    </div>
    


