@using CategoryMovieApp.Models
@model IEnumerable<Country>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 pt-2 pb-2"><a href="/Movie/GetCountryMovie/@item.CountryId">@item.CountryName</a></div>
    }
</div>