@model CategoryMovieApp.Models.Country
@{
    ViewData["Title"] = "CountryAdd";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Ülke Ekleme Paneli</h2>
    @using (Html.BeginForm("CountryAdd", "Country", FormMethod.Post))
    {
        <input required type="text" class="inputName" name="CountryNameTR" placeholder="Ülke Adı">
        <input required type="text" class="inputName" name="CountryNameEN" placeholder="Country Name">
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

