@model CategoryMovieApp.Models.Language
@{
    ViewData["Title"] = "GetLanguage";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Kategori Ekleme Paneli</h2>
    @using (Html.BeginForm("LanguageUpdate", "Language", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.LanguageId,new {@style="display:none;",@class="inputName"})
        @Html.TextBoxFor(x=>x.LanguageNameTR,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.LanguageNameEN,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.LanguageStatu,new {@class="inputName"})
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

