@using CategoryMovieApp.Models
@model IEnumerable<Year>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 pt-2 pb-2"><a href="/Movie/GetYearMovie/@item.YearId">@item.YearName</a></div>
    }
</div>