
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}
<link href="~/css/contact.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Ekibimiz</h2>
            <div class="col-12 crew">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h3 class="mt-3 mb-3">Project Manager</h3>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h3 class="mt-3 mb-3">Front-End Developer</h3>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakıroğlu</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h3 class="mt-3 mb-3">Back-End Developer</h3>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h3 class="mt-3 mb-3">Database Developer</h3>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-12">
                <h2 class="text-center">İletişim Bilgileri</h2>
            <div class="row">
                <div style="border:1px solid black;height:200px;text-align:center;" class="col-md-4">
                    <i style="font-size:70px" class="fa fa-map-marker mt-1"></i>
                    <h5 class="mt-1">Adresimiz</h5>
                    <span>Fuatpaşa Mahallesi Keçiören/Ankara</span>
                </div>
                        <div style="border:1px solid black;height:200px;text-align:center;" class="col-md-4 middle">
                            <i style="font-size:70px" class="fa fa-phone mt-1"></i>
                            <h5 class="mt-1">Telefon Numaramız</h5>
                            <div>0555 439 83 14</div>
                </div>
                        <div style="border:1px solid black;height:200px;text-align:center;" class="col-md-4">
                            <i style="font-size:70px" class="fa fa-envelope"></i>
                            <h5 class="mt-1">Mail Adresimiz</h5>
                            <div>burakyilmamm@hotmail.com</div>
                </div>
            </div>
        </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195360.35335232734!2d32.68022791956674!3d40.08644068234652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4082097d856a2c3f%3A0x8d22ac4346722e44!2zS2XDp2nDtnJlbi9BbmthcmE!5e0!3m2!1str!2str!4v1689247927087!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
            <div class="col-12">@await Html.PartialAsync("~/Views/Contact/ContactAdd.cshtml")</div>
    </div>
</div>

