<div class="container-fluid">
    <h2 class="text-center text-black pt-2">Öneri ve Şikayet Formu</h2>
    <form class="mb-2" action="/Contact/ContactAdd/" method="post">
        <div class="row mt-4 mb-2">
            <div class="col-6"><input style="width:100%;" name="ContactName" placeholder="Adınızı Giriniz" /></div>
            <div class="col-6"><input style="width:100%;" name="ContactPhone" placeholder="Telefon numaranızı giriniz." /></div>
        </div>
        <textarea placeholder="Öneri ve Şikayetlerinizi bu alana yazınız. " style="width:100%;height:150px;resize:none" required name="ContactText"></textarea>
        <center>
            <input class="text-center btn-success mb-2" style="padding:10px;border-radius:2px;width:120px;border:none;" type="submit" value="Gönder" />
        </center>
    </form>
</div>