
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}
<link href="~/css/contact.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Ekibimiz</h1>
            <div class="col-12 crew">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h2 class="mt-3 mb-3">Proje Yöneticisi</h2>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h2 class="mt-3 mb-3">Front-End Geliştirici</h2>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h2 class="mt-3 mb-3">Back-End Geliştirici</h2>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 item">
                    <h2 class="mt-3 mb-3">Veri Tabanı Uzmanı</h2>
                    <img src="https://img.freepik.com/free-photo/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space_23-2148767055.jpg" />
                    <h3 class="mt-3 ">Aslı Çakır</h3>
                    <div class="col-12 social">
                        <div class="col-3 mt-2 mb-3">
                            <a href="https://github.com/Burakyilmam">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-3 mt-2 mb-3">
                            <a href="www.linkedin.com">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div style="border:1px solid black;height:200px;text-align:center;" class="col">
                    <i style="font-size:70px" class="fa fa-map-marker"></i>
                    <br />
                    <h2>Adresimiz</h2>
                    <br />
                    <span>Fuatpaşa Mahallesi Fatih Caddesi No:177/9 Keçiören/Ankara</span>
                </div>
                        <div style="border:1px solid black;height:200px;text-align:center;" class="col">
                            <i style="font-size:70px" class="fa fa-phone"></i>
                            <br />
                            <h2>Telefon Numaramız</h2>
                            <br />
                            <span>0539 439 82 13</span>
                </div>
                        <div style="border:1px solid black;height:200px;text-align:center;" class="col">
                            <i style="font-size:70px" class="fa fa-envelope"></i>
                            <br />
                            <h2>Mail Adresimiz</h2>
                            <br />
                            <span>burakyilmamm@hotmail.com</span>
                </div>
            </div>
        </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.693990174099!2d32.86174867561406!3d39.99294338132409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34d07e5d4a3db%3A0x144e0c4362882a3e!2zVGVwZWJhxZ_EsSwgRmF0aWggQ2QuIE5vOjE3NyBEOjksIDA2MjkwIEtlw6dpw7ZyZW4vQW5rYXJh!5e0!3m2!1str!2str!4v1687346879717!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="col-12">Şikayet / Öneri Form</div>
    </div>
</div>

