@model CategoryMovieApp.Models.Movie
@{
    ViewData["Title"] = "MovieAdd";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Film Ekleme Paneli</h2>
    @using (Html.BeginForm("MovieAdd", "Movie", FormMethod.Post))
    {
        <input required type="text" class="inputName" name="MovieNameTR" placeholder="Filmin Adını Türkçe Giriniz.">
        <input required type="text" class="inputName" name="MovieNameEN" placeholder="Filmin Adını İngilizce Giriniz.">
        <input required type="text" class="inputName" name="MovieDescription" placeholder="Filmin Açıklmasını Giriniz.">
        <input required type="text" class="inputName" name="MovieIMDB" placeholder="Filmin IMDB Puanını Giriniz.">
        <input required type="text" class="inputName" name="MovieImageUrl" placeholder="Filmin Resim Url'sini Giriniz.">
        <input required type="text" class="inputName" name="MovieLength" placeholder="Filmin Uzunluğunu Giriniz.">
        <input required type="text" class="inputName" name="MovieLength" placeholder="Filmin İzlenme Sayısını Giriniz.">
        @await Component.InvokeAsync("ListMovieCategory")
        @await Component.InvokeAsync("ListMovieYear")
        @await Component.InvokeAsync("ListMovieCountry")
        @await Component.InvokeAsync("ListMovieLanguage")
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

