@using CategoryMovieApp.Models
@model IEnumerable<Movie>
@{
    ViewData["Title"] = "MoviePage";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}

@foreach(var item in Model)
{
    <img width="250" height="250" src="@item.MovieImageUrl">
    @item.MovieId
}
@await Component.InvokeAsync("ListComment",new {id=ViewBag.Id})
<div class="text-center">
    <a class="btn-success" href="/Comment/CommentAdd/@ViewBag.Id">
        <i class="fa fa-plus"></i>
    </a>
</div>

