<div class="container-fluid">
    <form action="/Comment/CommentAdd/" method="post">
        <input type="text" name="MovieId" style="display:none" value="@ViewBag.Id" />
        <textarea style="width:100%;height:150px;" required name="CommentText"></textarea>
        <input class="text-center btn-success" type="submit" value="Ekle" />
    </form>
</div>